.view {
  display: flex;
  input {
    margin-top: 0;
  }
  label {
    margin-left: 10px;
    align-self: center;
    margin-bottom: 0;
  }
  button {
    margin-left: auto;
  }
}

.completed label {
  text-decoration: line-through;
}
