<div class="container">
  <div class="row">
    <h1>Todos</h1>
    <form name="todo-form">
      <input
        id="todo-form"
        name="title"
        placeholder="What needs to be done?"
        [(ngModel)]="title"
        autofocus
      />
      <button class="btn btn-primary" (click)="addTodo()">Add Todo</button>
    </form>
  </div>
  <section ng-show="todoStore.todos.length" class="">
    <ul class="list-group">
      <li
        *ngFor="let todo of todoStore.filteredTodos; trackBy: trackTodoById"
        [ngClass]="{ completed: todo.completed }"
        class="list-group-item"
      >
        <div class="view">
          <input
            type="checkbox"
            [checked]="todo.completed"
            (change)="todo.complete()"
          />
          <label>{{ todo.text }}</label>
        </div>
      </li>
    </ul>
  </section>
  <div class="row controls">
    <div class="filters">
      <button
        [ngClass]="{ selected: todoStore.filter === 'show_all' }"
        class="btn"
        (click)="todoStore.showAll()"
      >
        All
      </button>
      <button
        [ngClass]="{ selected: todoStore.filter === 'show_active' }"
        class="btn"
        (click)="todoStore.showActive()"
      >
        Active
      </button>
      <button
        [ngClass]="{ selected: todoStore.filter === 'show_completed' }"
        class="btn"
        (click)="todoStore.showCompleted()"
      >
        Completed
      </button>
    </div>

    <div class="snapshot-testers">
      <button
        class="btn btn-primary"
        *ngIf="todoStore.history.canUndo"
        (click)="todoStore.history.undo()"
      >
        undo
      </button>
      <button
        class="btn btn-primary"
        type="button"
        *ngIf="todoStore.history.canRedo"
        (click)="todoStore.history.redo()"
      >
        redo
      </button>
    </div>
  </div>
  <div class="row stats">
    <div>Active Todos: {{todoStore.activeCount}}</div>
    <div>Completed Todos: {{todoStore.completedCount}}</div>
    <div>Total Todos: {{todoStore.todos.length}}</div>
  </div>
</div>
