form .btn {
    margin-left: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  .btn {
    margin-left: 10px;
    border: 1px solid black;
    &.selected {
      background-color: green;
    }
  }
}

section {
  margin-top: 10px;
}